@font-face {
    font-family: 'Bulatov SP Demo';
    src: url("/BulatovSPDemo.otf");
}

@font-face {
    font-family: 'discovery font';
    src: url("/discoveryFont.otf");
}

body {
    font-family: 'discovery font', sans-serif;
    font-size: 40px;
    display: flex;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.information-block {
    z-index: 2;
    margin: 5vh 13vw 5vh 24vw;
}

.question-block {
    z-index: 2;
    margin: 5vh 13vw 5vh 24vw;
}

.title {
    font-family: 'Bulatov SP Demo', sans-serif;
}

h1 {
    font-size: 150px;
}

h2 {
    font-size: 100px;
}

.next1 {
    position: fixed;
    right: 3vw;
    bottom: 5vh;
}

.back {
    position: fixed;
    left: 3vw;
    bottom: 5vh;
}

.move1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-family: 'discovery font', sans-serif;
    font-size: 40px;
    width: 250px;
    text-decoration: none;
    background-color: #e6ac3f;
    border: none;
}

.move1:hover {
    text-decoration: underline;
}

.move1:onclick {
    background-color: #6d4e0b;
    text-decoration: none;
    text-decoration: underline;
}

.comand {
    display: flex;
    gap: 10px;
    font-weight: bold;
}

input {
    margin-top: 25px;
    background-color: #e6ac3f;
    font-size: 35px;
    height: 70px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    outline:none;
    caret-color: #6d4e0b;
}

input::placeholder {
    color:#6d4e0b;
}

.description {
    font-weight: bold;
}

.teams {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70px;
}

.team {
    display: flex;
    gap: 50px;
}

.inform-display {
    font-family: 'discovery font', sans-serif;
    font-size: 40px;
}

.answers {
    width:85px;
    height: 55px;
    margin-top: 35px;
    font-family: 'discovery font', sans-serif;
    font-size: 40px;
    text-align: center;
    text-align-last: center;
    background-color: #e6ac3f;
    border: none;
    border-radius: 5px;
    padding: 10px;
    appearance: none;
    cursor: pointer;
}

select:focus {
    outline: none;
}

select:hover {
    outline: none;
    background-color: #e6ac3f;
}